<a href="https://colab.research.google.com/github/AlejandroPinto5/ML-notes-course/blob/main/AnalyticsVidhya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Structures**

In [ ]:
# Height in cm
Ramesh = 150
Suresh = 145
Sudesh = 165

In [ ]:
# Weight in kg
Ramesh_weight = 56
Suresh_weight = 60
Sudesh_weight = 65

In [ ]:
# Age in Years
Ramesh_age = 23
Suresh_age = 46
Sudesh_age = 58
# A lot of variables. Very tedious

In [ ]:
import numpy as np
A = np.array([[0.1, 0.2], [0.03, 0.44], [0.25, 0.16]])
A.select([0,0], [1,0], [2,1])

AttributeError: ignored

# **LIST [ ]**

In [ ]:
# List 
names = ["Ramesh", "Suresh", "Sudesh"]
height = [150, 145, 165]
weight = [56, 60, 65]
age = [23, 45, 58]

In [ ]:
# Example
list1 = [2, 3, 4, 5, 6] # Lists remebmer the order
list2 = ["Python", "is", "Awesome"] # Single data type
list3 = [1, "Python", 2, "is", 3, "Awesome"]# Mixed data type

In [ ]:
# Extract an element
list3[1]

'Python'

In [ ]:
# Extract a sequence of elements
list3[1:4]

['Python', 2, 'is']

In [ ]:
# Adding a single element
list3.append(4)
list3

[1, 'Python', 2, 'is', 3, 'Awesome', 4, 4, 4]

In [ ]:
# Adding a multiple elements
list3.extend([5,6])
list3

[1, 'Python', 2, 'is', 3, 'Awesome', 4, 4, 4, 5, 6]

In [ ]:
#  Adding list into another list
list3.append([7,8])
list3

[1, 'Python', 2, 'is', 3, 'Awesome', 4, 4, 4, 5, 6, [7, 8]]

In [ ]:
# Delete element by value
list3.remove(2)
list3

[1, 'Python', 'is', 3, 'Awesome', 4, 4, 4, 5, 6, [7, 8]]

In [ ]:
# Delete element by index
del list3[5]
list3

[1, 'Python', 'is', 3, 'Awesome', 4, 4, 5, 6, [7, 8]]

In [ ]:
# Negative index
list1[-2]

5

In [ ]:
# Doble colon -- initial:final:step
list3[1:4:2]

['Python', 3]

In [ ]:
# Check if particular element is in the list
90 in list3

False

In [ ]:
# Check if particular element isn't in the list
[1,2] not in list3

True

In [ ]:
# Iterate the list
for element in list3:
  print(element)

1
Python
is
3
Awesome
4
4
5
6
[7, 8]

In [ ]:
# Lenght of the list
len(list3)

10

In [ ]:
# Sorting list only for one type of data
sorted(list2)

['Awesome', 'Python', 'is']

In [ ]:
# Access a particular element into another element
list3[9][1]

8

In [ ]:
test = ["This" , "is", "1", "list"]
test[1]

'is'

In [ ]:
my_list = [["A", "B"], ["X", "A"], ["B", "A"], ["A", "X"]]
my_list[2][1]

'A'

*Challenge*

In [ ]:
students_mark = [["Name",["A", "B", "C", "D", "E"]],
                 ["Ankit",[41, 34, 45, 55, 63]],
                 ["Aravind",[42, 23, 34, 44, 53]],
                 ["lakshay",[32, 23, 13, 54, 67]],
                 ["Gyan",[23, 82, 23, 63, 34]],
                 ["Pranav",[21, 23, 25, 56, 56]]
                 ]
students_mark

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [ ]:
students_mark[0]

['Name', ['A', 'B', 'C', 'D', 'E']]

In [ ]:
students_mark[3][1]

[32, 23, 13, 54, 67]

In [ ]:
students_mark[5][1][3]

56

In [ ]:
# Select the name of the student and mark the subject B without the title

for students in students_mark[1:]:
  name = students[0]
  mark_in_B = students[1][1]
  print(name, mark_in_B)

Ankit 34
Aravind 23
lakshay 23
Gyan 82
Pranav 23

In [ ]:
# Create other list with names and mark subject B
student_mark_B = []

for students in students_mark[1:]:
  name = students[0]
  mark_in_B = students[1][1]
  student_mark_B.append([mark_in_B,name])

student_mark_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'lakshay'], [82, 'Gyan'], [23, 'Pranav']]

In [ ]:
sorted(student_mark_B)

[[23, 'Aravind'], [23, 'Pranav'], [23, 'lakshay'], [34, 'Ankit'], [82, 'Gyan']]

In [ ]:
sorted(student_mark_B, reverse=True)

[[82, 'Gyan'], [34, 'Ankit'], [23, 'lakshay'], [23, 'Pranav'], [23, 'Aravind']]

# **TUPLE ( )**

In [ ]:
my_tuple1 = (1, 2, 3, "Hello") # Also ordered elements
my_tuple = ("A", "B", "C","D", "D", "E", 1, "D")
my_tuple #Immutable data structure

('A', 'B', 'C', 'D', 'D', 'E', 1, 'D')

In [ ]:
my_tuple[2]

'C'

In [ ]:
# Find out the index of element
my_tuple.index("E")

5

In [ ]:
# Count how many elements there are
my_tuple.count("D")

3

In [ ]:
# Show elements in the list
for element in my_tuple:
  print(element)

A
B
C
D
D
E
1
D

In [ ]:
#Show first three elements
my_tuple[:3]

('A', 'B', 'C')

In [ ]:
# Combine slides with '.index' or '.count'
my_tuple[2:5].count("D")

2

In [ ]:
# We can NOT use edit/update or delete elements from the tuples

In [ ]:
my_tuple2 = ("A", "B", "C", "D", "E", "E", 1, "D")
my_tuple2.index("E")

4

In [ ]:
my_tuple3 = ("A", "B", "B", "C", "B", "D")
my_tuple3[2:5].count("B")

2

In [ ]:
my_tuple4 = ((1, 2, 3, 1),
             (1, 1, 1, 2),
             (2, 1, 2, 1),
             (1, 2, 1, 1))
my_tuple4[1][1:3]

(1, 1)

# **SETS { }**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
list_of_sports = ["Soccer", "Tennis", "Cricket", "Soccer", "Golf"]

# unordered collection of elements
set_of_sports = {"Soccer", "Tennis", "Cricket", "Golf"} # not necessarly repeat an element
my_set = {"A", "B", "C", "D", 1, "E", 2, 4,4}
my_set # The order doesn't matter and there aren't duplicate elements. Autoatically removed

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [ ]:
# Convert from list to set
my_list = ["A", "B", 1, 2, "B", "A"]
from_list_to_set = set(my_list)
print(
    my_list,
from_list_to_set)

['A', 'B', 1, 2, 'B', 'A'] {1, 2, 'B', 'A'}

In [ ]:
# Convert from tuple to set
my_tuple = ("A", "B", 1, 2, "B", "A")
from_tuple_to_set = set(my_tuple)
print(
my_tuple,
from_tuple_to_set)

NameError: ignored

In [ ]:
# We can add elements
my_set.add(0)
my_set

In [ ]:
# Discard/Remove
my_set.discard("A")
my_set

In [ ]:
my_set.remove(2)
my_set

In [ ]:
# With sets, you can play with the theory operations (intersection, union...)
print(my_set,from_list_to_set)

In [ ]:
# Difference of two sets
print(
my_set.difference(from_list_to_set),
from_list_to_set.difference(my_set))

# If you want to save the result, just use difference.update

In [ ]:
# Intersection of two sets
print(
    my_set.intersection(from_list_to_set),
    from_list_to_set.intersection(my_set)
)

# If you want to save the results, use intersection_update

In [ ]:
sample_set1 = {"A", "B", "C", "D", "E", "F"}
sample_set2 = {"A", "D", "E"}
sample_set3 = {"S", "T", "U"}
sample_set1, sample_set2

In [ ]:
# Check if two sets are disjoint
print(
    sample_set1.isdisjoint(sample_set2),
    sample_set2.isdisjoint(sample_set1)
)

In [ ]:
# Check if one is a subset/superset of another
print(
    sample_set2.issubset(sample_set1),
    sample_set1.issubset(sample_set2))
print(
    sample_set1.issuperset(sample_set2),
    sample_set2.issuperset(sample_set1)
)

In [ ]:
# Unions of two sets
sample_set1.union(sample_set3)
# Doesn't save the result

In [ ]:
# Update sets
sample_set3.update({"C", "D", "S", "Z"})
sample_set3

In [ ]:
# Show the elements of the set
for element in sample_set1:
  print(element)

In [ ]:
# Define 3 random sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {1, 4, 3}
set1.isdisjoint(set2)

In [ ]:
set3 = {1, 2, 3, 4, 5, 6}
set4 = {1, 4, 7}
set3.issuperset(set4)

In [ ]:
dat = ((1, 2, 3, 4, 5),
        (2, 1, 1, 3, 1),
        (1, 2, 2, 1, 1),
        (1, 1, 2, 3, 1))
set(dat[0]).intersection(set(dat[2]))

# **Dictionary**

In [ ]:
employee_info = {
    "names": ["Ramesh", "Suresh", "Sudesh"],
    "height": [150, 145, 165],
    "weight": [56, 60, 65],
    "age": [23, 45, 58]
}
employee_info

{'age': [23, 45, 58],
 'height': [150, 145, 165],
 'names': ['Ramesh', 'Suresh', 'Sudesh'],
 'weight': [56, 60, 65]}

In [ ]:
# Key: Value. The value can be number, list...
dict1 = {"Ramesh": 150,"Suresh": 146, "Sudesh": 160}
dict1

{'Ramesh': 150, 'Sudesh': 160, 'Suresh': 146}

In [ ]:
# Acces the dictionary
dict1["Suresh"]

146

In [ ]:
# Adding elements
dict1["Neeraj"]=176
dict1

{'Neeraj': 176, 'Ramesh': 150, 'Sudesh': 160, 'Suresh': 146}

In [ ]:
# If you eant to add multiple elements, you can use 'update'
dict1.update({"Sunil": 150, "Disha": 155})
dict1

{'Disha': 155,
 'Neeraj': 176,
 'Ramesh': 150,
 'Sudesh': 160,
 'Sunil': 150,
 'Suresh': 146}

In [ ]:
# Delet a single element
del dict1["Ramesh"]
dict1

{'Disha': 155, 'Neeraj': 176, 'Sudesh': 160, 'Sunil': 150, 'Suresh': 146}

In [ ]:
my_dictionary = {
    "name"      : "Alejandro",
    "age"       :  24,
    "roll_on"   : "QRQ878",
    "percentage":  85,
    "attendance":  3.67,
    "city"      : "Bucaramanga",
    "country"   : "Colombia"
    }

my_dictionary

{'age': 24,
 'attendance': 3.67,
 'city': 'Bucaramanga',
 'country': 'Colombia',
 'name': 'Alejandro',
 'percentage': 85,
 'roll_on': 'QRQ878'}

In [ ]:
# We can't use the index 'my_dictionary[3]'
my_dictionary["name"]

'Alejandro'

In [ ]:
# You can know what is the keys and the values
print(
    my_dictionary.keys(),
    my_dictionary.values()
)

dict_keys(['name', 'age', 'roll_on', 'percentage', 'attendance', 'city', 'country']) dict_values(['Alejandro', 24, 'QRQ878', 85, 3.67, 'Bucaramanga', 'Colombia'])

In [ ]:
my_dictionary.items()

dict_items([('name', 'Alejandro'), ('age', 24), ('roll_on', 'QRQ878'), ('percentage', 85), ('attendance', 3.67), ('city', 'Bucaramanga'), ('country', 'Colombia')])

In [ ]:
#Add and Update
my_dictionary["new_key"] = "new_value"
my_dictionary.update({"pincode": 2150744, "last_name": "Pinto"})
my_dictionary

{'age': 24,
 'attendance': 3.67,
 'city': 'Bucaramanga',
 'country': 'Colombia',
 'last_name': 'Pinto',
 'name': 'Alejandro',
 'new_key': ['new_value'],
 'percentage': 85,
 'pincode': 2150744,
 'roll_on': 'QRQ878'}

In [ ]:
# Override the value if you add the same key. the keys are inmutable

In [ ]:
# Show the elements of a dictionary
for key, value in my_dictionary.items():
  print(key,value)

sorted(my_dictionary.items())

name Alejandro
age 24
roll_on QRQ878
percentage 85
attendance 3.67
city Bucaramanga
country Colombia
pincode 2150744
last_name Pinto
new_key ['new_value']

[('age', 24),
 ('attendance', 3.67),
 ('city', 'Bucaramanga'),
 ('country', 'Colombia'),
 ('last_name', 'Pinto'),
 ('name', 'Alejandro'),
 ('new_key', ['new_value']),
 ('percentage', 85),
 ('pincode', 2150744),
 ('roll_on', 'QRQ878')]

#**String Manipulation**

In [ ]:
myString = "Analytics Vidhya creating next generation data sicence eco-system"

In [ ]:
len(myString)

65

In [ ]:
myString[0]

'A'

In [ ]:
myString[-1]

'm'

In [ ]:
myString[::-1]

'metsys-oce ecnecis atad noitareneg txen gnitaerc ayhdiV scitylanA'

In [ ]:
myString.count('c')

5

In [ ]:
myString[10:-10]

'Vidhya creating next generation data sicence '

In [ ]:
myString.find('next')

26

In [ ]:
myString.endswith('system')

True

In [ ]:
myString.startswith('analytics')

False

In [ ]:
myString.startswith('Analytics')

True

In [ ]:
myString.upper()

'ANALYTICS VIDHYA CREATING NEXT GENERATION DATA SICENCE ECO-SYSTEM'

In [ ]:
'1'.isnumeric()

True

In [ ]:
'w'.isalpha()

True

In [ ]:
'1w'.isalnum()

True

In [ ]:
myString.isalpha() # don't recognize spaces

False

In [ ]:
'java is easy to learn'.replace('java', 'python')

'python is easy to learn'

In [ ]:
'python is easy to learn'.split(' ')

['python', 'is', 'easy', 'to', 'learn']

In [ ]:
'python is easy to learn'.split('easy')

['python is ', ' to learn']

In [ ]:
len('python is easy to learn'.split(' '))

5

Quiz

In [ ]:
my_string = 'ANALYTICS VIDHYA'
my_string[::-1]

'AYHDIV SCITYLANA'

In [ ]:
#Statment A
'analytics'.isalpha()

True

In [ ]:
#Statment B
'analytics01'.isalnum()

True

In [ ]:
#Statment C
'analytics01'.islower()

True

In [ ]:
my_list = ['lakshay', 'sanad', 'aravind', 'aishwarya', 'prateek']
find_a = []

for  name in my_list:
  x = name.find('a')
  find_a.append(x)

find_a

[1, 1, 0, 0, 2]

In [ ]:
state = ['haryana', 'punjab', 'rajasthan', 'karnataka', 'goa']
output = []
output_state = []

for s in state:
  split_with_a = s.split('a')
  output.append(len(split_with_a))
  output_state.append(split_with_a)

output
#output_state

[4, 2, 4, 5, 2]

#**Functions**

In [ ]:
def area(r):
  area = 3.14*r*r
  return area

area(5) #Calling a function

78.5

In [ ]:
def welcome():
  print("Welcome to the python course!!")

welcome()

Welcome to the python course!!

In [ ]:
def add_2_number():
  total = 3 + 4
  print("Sum of 3 and 4 is: ", total)

In [ ]:
def   add_2_numbers_return():
  total = 3 + 4
  print("Sum of 3 and 4 is: ", total)
  return total

In [ ]:
add_2_number()

Sum of 3 and 4 is:  7

In [ ]:
add_2_numbers_return()

Sum of 3 and 4 is:  7

7

In [ ]:
output1 = add_2_number()
output1 #Don't save 'cause dones't have a return

Sum of 3 and 4 is:  7

In [ ]:
output2 = add_2_numbers_return()
output2

Sum of 3 and 4 is:  7

7

In [ ]:
def welcome(name): #If we put 'name = "Alejo"', you can call the function 'welcome()' without errors
  return "Welcome " + name

In [ ]:
welcome("Alejo")

'Welcome Alejo'

In [ ]:
def differ(largeNumber, smallNumber):
  difference = largeNumber - smallNumber
  return difference

differ(largeNumber= 16, smallNumber =  4) # Necessary to not confuse the numbers

12

In [ ]:
differ(smallNumber = 4, largeNumber = 16)

12

In [ ]:
def function(*args): # '*' indicates multiple values -- unknow int or string, you can use '**'
  for i in args:
    print(i)

function(1,2,3,4)

1
2
3
4

QUIZ

In [ ]:
def min(a, b):
  if a > b:
    return b
  elif a == b:
    return "Equal numbers"
  else:
    return a

min(200,400)

200

In [ ]:
def odd(a):
  if a%2 == 0:
    print("not odd")
  else:
    print("odd")

odd(9)

odd

**Lambda functions**

In [ ]:
def add20(a):
  return a+20

add20(5)

25

In [ ]:
var = lambda a: a + 20

print("With argument value 5: ", var(5))
print("With argument value 10: ", var(10))

With argument value 5:  25
With argument value 10:  30

In [ ]:
# Filter function
def normalEven(x):
  if x%2 !=0:
    return True
  else:
    return False

In [ ]:
originalList = [5,17, 32, 43, 12, 62, 237, 133, 78, 21]

filteredList = list(filter(normalEven, originalList))
print('The odd numbers are: ', filteredList)

The odd numbers are:  [5, 17, 43, 237, 133, 21]

In [ ]:
originalList = [5, 11, 15, 43, 20, 65, 235, 133, 75, 21]
filteredList = list(filter(lambda x: x%5 == 0, originalList))

print('The multiple of 5 are: ', filteredList)

The multiple of 5 are:  [5, 15, 20, 65, 235, 75]

In [ ]:
# 'map' is the same in 'filter'
originalList = ['analytics', 'vidhya', 'king', 'south', 'east']
mappedList = list(map(lambda x: x[0].upper()+x[1:], originalList))

print('New List: ', mappedList)

New List:  ['Analytics', 'Vidhya', 'King', 'South', 'East']

In [ ]:
# Reduce Function
from functools import reduce
originalList =  [1,2, 3, 4, 5, 6, 7, 8, 9]
sumList = reduce(lambda x, y: x+y, originalList)

print('Sum of numbers in the original list is: ', sumList)

Sum of numbers in the original list is:  45

In [ ]:
originalList = [110, 53, 3, 424, 255, 16, 42, 256]
largestNumber = reduce(lambda x, y: x if x > y else y, originalList)

print('Largest number in the original list is: ', largestNumber)

Largest number in the original list is:  424

QUIZ

In [ ]:
originalList = [5, 17, 62, 43, 12, 62, 27, 63, 68, 21]
filteredList = list(filter(lambda x: x // 10 == 6, originalList))

print(filteredList)

[62, 62, 63, 68]

In [ ]:
from functools import reduce

originalList = [110, 53, 3, 424, 255, 16, 42, 256]
number = reduce(lambda x, y: x if x < y else y, originalList)

print(number)

3

**Recursion function**

In [ ]:
# Probability and statistics
def HowManyHandshakes(TotalPersons):
  if TotalPersons == 2:
    return 1
  elif TotalPersons == 1:
    return "Doesn't make any sense"
  else:
    return HowManyHandshakes(TotalPersons - 1) + (TotalPersons - 1) #F(N) = F(N-1)+(N-1)

HowManyHandshakes(6)

15

QUIZ

In [ ]:
def function(number):
  if number == 1:
    return 0 
  elif number == 2:
    return 1
  else:
    return function(number - 1) + function(number - 2) #F(n)=F(n-1)+F(n-2)

function(5)

3

In [ ]:
def function(number):
  if number == 2:
    return 1
  else:
    return function(number - 1)+ (number + 1)

function(5)

16

#**Modules, Packages and Standar libraries**

In [ ]:
#Function
def area_circle(r):
  area = 3.1416*r*r
  return area

area_circle(2)

12.5664

In [ ]:
# Module: Several funcions in one file.py that you can call in other file.py. 
# You call the module as: import --module--

In [ ]:
# packages: several modules in one, a collection of modules
# important packages:
#                     math
#                     random
#                     datetime
#                     os

In [ ]:
# Call or import functions:
#                           from --package.module-- import --function--
#                           from --package-- import --module--
#                           import --module--
# How create your own package:
                            # You put all modules in one carpet, then you cam call as: import --name_of_carpet--
# important libraries for data science:
#                     numpy
#                     scipy
#                     pandas
#                     matplotlib
                      # seaborn
                      # scikit learn
                      # statsmodel

In [ ]:
# numpy and scipy

import numpy as np

x = np.array([[1,2,3],
              [2,1,1],
              [4,2,3]])

y = np.array([[1,2],
              [1,1],
              [1,1]])

np.concatenate([x,y],axis=1)

array([[1, 2, 3, 1, 2],
       [2, 1, 1, 1, 1],
       [4, 2, 3, 1, 1]])

In [ ]:
np.zeros((2,3), dtype=int)

array([[0, 0, 0],
       [0, 0, 0]])

In [ ]:
from scipy.misc import derivative

def my_function(x):
  dev=x**2 + 5
  return dev

derivative(func = my_function, x0=2)

4.0

#**Reading data in python**

In [ ]:
# pd.read_{file(csv, excel,json)}=('')
# to csv file you need:
#                       skirows=
#                       glob to multidirectory
#                       uecols=[]
#                       data.shape()

# to excel file you need:
#                         sheet_name=

# to json file you need:
#                         lines=boolean
                          # json
                          # pprint

#**Preprocessing, subsetting and modifying pandas dataframes**

In [ ]:
# subsetting:
#             drop
            # inplace
            # data.set_index['label']
#             data.index
#             data.loc[]
#     Sunset a data sabed on other:
#                                 data[data['']==''] acts like filter
      # subet based on position (rows):
      #                         data[n:n:i] like data.head() or data.tail()
      #                         data.iloc[[rows],[columns]] like specific row

      # subsetting based on label (columns):
      #                           data.loc[] labels on index

      # subsetting based on value (value):
      # q                         you can chose a value into the table to act like a filter (&-and |-or !-not)
                                  # data[data.column([value])]
                                # data.select_dtypes(object, float64 or integer)

# check null calues with data.isna().sum()
# convertcategorical variables into numerical variables with data = pd.get_dummies(data)

In [ ]:
import pandas as pd
sample_df = [['id','grade','marks'],
             ['a101','m','a',22],
             ['a102','f','a',21],
             ['a103','m','b',12],
             ['a104','m','b',14],
             ['a105','f','a',20],
              ]
sample_df =pd.DataFrame(sample_df)
sample_df

      0      1      2     3
0    id  grade  marks   NaN
1  a101      m      a  22.0
2  a102      f      a  21.0
3  a103      m      b  12.0
4  a104      m      b  14.0
5  a105      f      a  20.0

In [ ]:
sample_df.loc['a101':'a104']

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [ ]:
data = pd.DataFrame({'gender':['M','F','f','F','M'],
                     'age':[10,12,12,12,11]})
data

  gender  age
0      M   10
1      F   12
2      f   12
3      F   12
4      M   11

In [ ]:
pd.get_dummies(data)

   age  gender_F  gender_M  gender_f
0   10         0         1         0
1   12         1         0         0
2   12         0         0         1
3   12         1         0         0
4   11         0         1         0

In [ ]:
import numpy as np 
sample_df = pd.DataFrame({'gender' : ['M','F','M','M','F'],
                          'grade' : ['A','A','B','B','A'],
                          'marks' : [22,np.nan,12,np.nan,np.nan],
                          'id' : ['a101','a102','a103','a104','a105']})
sample_df

  gender grade  marks    id
0      M     A   22.0  a101
1      F     A    NaN  a102
2      M     B   12.0  a103
3      M     B    NaN  a104
4      F     A    NaN  a105

In [ ]:
sample_df.marks.fillna(sample_df.marks.mean(),inplace=True)
sample_df

  gender grade  marks    id
0      M     A   22.0  a101
1      F     A   17.0  a102
2      M     B   12.0  a103
3      M     B   17.0  a104
4      F     A   17.0  a105

#**Preprocessing, sorting and agregatingdata**

In [ ]:
# sort by id, student ...
# data_frame.sort_value(by=['column']) or # data_frame.sort_value(by=['column',''column], ascending =[True,False])
# important inplace = True
# if you do not have inplace, use data_frame.reset_index()


# Concatenate multiple dataframes
          #  pd.concat(dataframes, axis=0) 0 is rows and 1 is columns

# SQL-like joints
        # main_df.merge(mapping_df, how= 'left', on = 'label') also left, right, inner or outer

In [ ]:
import pandas as pd

sample_df1 = pd.DataFrame({'gender': ['m','f','m','m','f'],
                           'id': ['a101','a104','a106', 'a110', 'a105']})


sample_df2 = pd.DataFrame({'grade':['a','a','b','b','a'],
                           'id': ['a101','a102','a103','a104','a105']})

# sample_df1.merge(sample_df2, how='outer', on ='id')
sample_df1.merge(sample_df2, how='right', on ='id')

  gender    id grade
0      m  a101     a
1    NaN  a102     a
2    NaN  a103     b
3      f  a104     b
4      f  a105     a

In [ ]:
student_id = pd.DataFrame({'college':['zu university','zu university','zu university','zu university','zu university',],
                           'roll_no': [102,101,104,103,105],
                           'name': ['Aravind','Rahul','Prateek','Piyuesh', 'Kartik'],
                           'grade':['b','b','a','c','a'],
                           'mark':[15,15,20,4,22],
                           'city': ['Gurugram','Delhi','Delhi', 'Gurugram','hyderabad']})
pool = pd.DataFrame({'college':['zu university','zu university','ab university','zu university','ab university',],
                     'name':['Aravind','Rahul','Rahul','Prateek','Harsh'],
                     'company':['abc','xyz','abc','aep','abc'],
                     'package':[8,14.5,11,6,6]})


student_id.merge(pool, how = 'inner', on = ['college','name'])
# student_id.merge(pool, how = 'left', on = ['college','name'])
# student_id.merge(pool, how = 'right', on = ['college','name'])

         college  roll_no     name grade  mark      city company  package
0  zu university      102  Aravind     b    15  Gurugram     abc      8.0
1  zu university      101    Rahul     b    15     Delhi     xyz     14.5
2  zu university      104  Prateek     a    20     Delhi     aep      6.0

In [ ]:
# Aggregation ans Summarization
# data.label.sum() or sum or mean or mode or median
# data.groupby([label])
# data.first()
# d.max()
# data.groupby([label,label]).mean()

# You can do a lot of pivot table with:
#                           pd.pivot_table(data, index='',values='')...
# pd,crosstab(data[''], data[''])

# The aggregation is more complex than I thought, functions, large codes ...We can do with more time
# Use librairy datetime to convert datetime to type timedelta64[ns]
# Create cloumn of month or day of year is data.datatime.dt.day_name or month_day...
# Localize timezone with data.datemtime.dt.tz_localize('Continent/Country')
# Convert timezone with data.Column_tz.dt.tz_convert('Continent/Country')

In [ ]:
import pandas as pd
import datetime as dt

data = pd.DataFrame({'id': [0,1,2,3,4],
                     'Datetime': ['25 Aug 2012','25 Aug 2012','25 Aug 2012','25 Aug 2012','25 Aug 2012'],
                     'Count': [8,2,6,2,2]})
pd.to_datetime(data.Datetime, format ='%d %b %Y')

0   2012-08-25
1   2012-08-25
2   2012-08-25
3   2012-08-25
4   2012-08-25
Name: Datetime, dtype: datetime64[ns]

#**Machine Learning Lifecycle**

Six steps pf predictive model:

                                - Problem definition
                                - Hypothesis Generation
                                - Data extraction / Collection
                                - Data Exploration and transformation
                                - Predictive model
                                - Model Deployment / Implementation


Predictive modeling is a process to create statistical model for estimating/predicting the future behaviour based on past data.

#**Importance of Stats and EDA**

**E**stimation **D**ata **A**nalysis
Descriptive Statistics:

                        Summarize data
                        Visual representation as histogram, bar and pie plots
                        Central tendency
                        Relation variables
                  
Inferencial Statistics:

                        Aproximation of Data
                        Try to validate a hypothesis
                        Error analysis of sample

#**Build your first predictive model**

**Steps for benchmark models**:

      Hypothesis generation:
      Get dataset ready for your models: Divide the data in training (build and train model) set and testing set
      Modelling process: Supervised ML (Regression or classification)
      Evaluation:


When you have a dataset, add the data to your code: 

```
df = pd.read_csv('')
```
the see if you have a missed values:


```
data.ismull().sum()
```

Then you create train and test from your dataset. You can divide your dataet with pandas and scikitlearn:


```
from sklearn.util import shuffle
df = shuffle(df, random_state = 42)
div = int(df.shape[0]/4)

#Three parts of training set and one part of testing set
train = df.loc[:3*div+1,:]
test = df.loc[3*div+1:]
```


From here, you can create your models.

****

**e.g. is a simple mean model for regression model**: First you store any variable's mean of the train set in a new column of test set:

```
test['simple_mean'] = train['item_Outlet_sales'].mean()
```
And calculate errors (evaluation metric for regressions - mae):

```
From sklearn.metrics import mean_absolute_error as mae
simple_mean_error = mae(test['Item_Outlet_sales'], test['simple_mean'])
simple_mean_error
```
Doing smater predictions, we can take mean of any other value, like outlet_type, Outlet_location_type or/and Outlet_establisment_year:



```
out_type = pd.pivot_table(train, values = 'Item_outlet_sales', index = ['Outlet_type'], aggfunc = np.mean)
out_type
```

Create the model(with **for** to running a loop for any mean calculated), and calculate the error. You reduce error

****

**e.g. is a simple mode model for classification model**: First you store any variable's mode of the train set in a new column of test set:

```
test['simple_mode']= train['survived'].mode()[0]
```

then, you calculate the accuracy (evaluation metric for classification):



```
simple_mode_accuracy = accuracy_score(test['survived'], test['simple_mode'])
simple_mode_accuracy
```

#**Evaluation metrics**

**Confusion matrix** is for clasification problems. Represent preficted values against actual values. True positive(TP), False negative(FN), False positive(FP) and True negative(TN).

**Accuracy** is for classification tasks. Accuracy = (Correct predictions)/(Total predictions) = (TP + TN)/(TP + TN + FP + FN)

**True positive rate** is alternative to accuracy. TPR = TP/(TP + FN). High value, better model.

**False negative rate** is alternative to accuracy. FNR = FN/(TP + FN).Low value, better model.

**True negative rate** is alternative to accuracy. TNR = TN/(FP + TN). High value, better model.

**False positive rate** is alternative to accuracy. FPR = FP/(FP + TN). Tend to zero, better model.

How to select a metric?

                        Use a combination of both
                        Validation
                        Depends on use case


**Precision** Predictions Actually Positive/ Total predicted positive. Presicion = TP/(TP + FP). Minimize FP

**Recall** Predictiones Actually positive / Total Actual Positive. Recall = TP / (TP + FN). Minimize FN

F1 is maximum when Presicion = recall. F1 = 2 /((1/presicion) + (1/recall))

**Thresholding** don't get it

**AUC-ROC**. Probability of classes. It's plotted between TPR and FPR. TPR should be greater than FPR. don't get it

**Log loss** Probability of classes. Compare two models. Considers order of probability. It's the negative average of the log of corrected predicted probabilities for each instance. Corrected probabilities mean. The lower log loss, the better predictions.

**Evaluation Metrics for Regression** 

                                    MAE: 
                                    MSE:
                                    RMSE:
                                    RMSLE:
                                    R-Squared: 1-MSE(model)/MSE(baseline: mean values). higher value, better model.
                                    Adjusted R-Squared: Include numnber of samples and number of features.

#**Processing Data**



1.   Input missing values
                    1. Deleting (not recommended)
                          data.isnull().sum()
                          data_row_del = data.dropna(axis =0)
                          data_del_col = data.dropna(thresh=500, axis =1)

                    2. Replacing (isn't the best method)
                          data['column'].fillna(value = 'missing')
                          (data['column'].isnull()).astype('int') --remplazing with 1 and 0s

                    3. Inputing
                          Central tendency
                              data['col'].mean() or data['col'].mode()
                              data['column'].fillna(value = mean)

                          Relationship with features
                              data.corr()
                              
                          ML model (this is the most popular)

2.   Remove Categorical (string) values
                          There are two types: 
                          1. Nominal (gender, size)
                              data['col'].nunique()
                              pd.get_dummies(data['col']).head()

                          2. Ordinal (names, education)

3.   Treat Outliers. Outliers are extreme values relatives to other observations.

                               IQR  = data.['col'].qunatile(0.75) -data.['col'].qunatile(0.75)
                               Q1 = data.['col'].qunatile(0.25)
                               Q2 = data.['col'].qunatile(0.75)

                               whisker_1 = Q1-(1.5*IQR)
                               whisker_2 = Q3+(1.5*IQR)

                          1. Delete the data points (not advice)
                               data_new = data.loc[data['col'] < whisker_2

                          2. Replace outliers (central tendency, replace values or whisker values, using ML model)
                               data.loc[data['col'] < 7 =Q1

                          3. Transform the values or binning values
                               (data['col']).hist()
                               (np.sqrt(data['col'])).hist()
                               (np.log(data['col'])).hist()


4.   Feature scaling and variable transformation

#**Build your fisrt ML model**

**KNN**: Observe nature of nearest neighbours, lazy learning algorithm and simplest ML algorithm.

Steps:

    1. Plot the training dataset.
    2. Locate the new 'test' instance.
    3. Calculate distance from all train data points.
    4. Sort the distance list in ascending order.
    5. Choose the first k distance from the sorted list.

For classification model is mode, for regression model is mean.

Determine the value of ***k*** is done by elbow method, you choose the minimun error (k-value vs error). Like whats the best energy used for that problem.

How to calculate distance:
      
                          D = (sum (pi-qi)^k)^1/k

    1. Manhattan distance: Sum of absolute differences between two points.
        D = sum (pi-qi)

    2. Euclideandistance: Shortest distance between two points.
        D = Sqrt(sum (pi-qi)^2)

    3. Minkowiski distance
        D = (sum (pi-qi)^p)^1/p

    4. Hamming distance (for categorical values): Total number of differences between two strings of identical length. You count as distance the change value.

Fails when values have different units (distance vs price). The problem is resolved normalizing data.

For sklearn:

    1. Preprocessing:
        from sklearn.preprocessing import MinMaxScaler

    2. Model Selection.
        from sklearn.model_selection import train_test_split

    3. Building a model.
        from sklearn.linear_model import LinearRegression
    
    4. Model Evaluation.
        from sklearn.metrics import accuracy_score 

Scale

Split

Choose k 

Implement 

Evaluate

#**Selecting the Right Model**

**Overfitting and Underfitting**
For knn model, in the plot of wlbow method where we compared train and test fi score, there is a region between 21 and 60 wherevalidation and train score are low (underfitting), zone that the  model is no learning.  The zone between 0 and 12 is overfitting trying to memorize data.  The bets fit region is between 12 and 21.

**High bias** meansthat the model is not able to learn avaliable signals or patterns in the data. High bias, low variance, low complexity on the model (underfitted). Low bias, high variance, high complexity (overfitted). See bias and variance plot (error vs. complexity)

**Validation set:**
Its between train set and test set. we do this to make sure the model does not overfit on the test data. Validation is used for optimization of model and test set for the final evaluation. It's created from train set.

    1. Hold-out Validation. First the dataset is splitted into two parts, train and test usinftrain_test_split() function. Then the train set is splitted into two parts using the same function.

    2. Stratified hold-out Validation. When adataset is unbalanced, you can use stratify parameter to split the dataset with the same proportions of classes as in the target variable.
    
    3. Leave one out. N instance N models, very computational expensive. It's practice for small dataset.

    4. k-fold cross validation. For setting the value of k, cross_val_score function with parameter cv = k is used. For 5-fold cross validation set cv = 5 along with ohter parameter. You don't need to split train and validation set explicitly:
       
        1. Shuffle the dataset randomly
        2. Split the dataset into k groups:
            Pick a group as a hold out.
            Take the remaining groups as training and fit a model.
            Predict and evaluate on the hold out.
        3. Repeat the above procedure with every group.

#**Linear Models**

We use linear models when there are a corelation between dependent and independent variables. Show a linear pattern. Low MSE = better model.

```
y = ax + b
```
**Cost Function:** The cost function of a linear regression is mean squared error. If we have a data, we can create a predicted line:




```
a = parameter
b = parameter
line = []
for i in range(len(data)):
  line.append(a*data.x[i] + b)
```
We can use mse to calculate error:


```
from sklearn.metrics import mean_squared_error as mse

MSE = mse(data.y, line)
```
Remember: Low MSE = better model. But, How to know the best parameter?. So, for ***a*** parameter:



```
#Range of slopes from 0 to 1.5 with increment of 0.01
slope = [i/100 for i in range(0,150)]
cost = []
for i in slope:
    costtmp = Error(a = i, data = data)
    cost.append(costtmp)

```

And Error is a function:



```
def Error(a, data)
  b = 1.1 # still parameter
  y = []
  x = data.x
  for i in range(len(data.x)):
      tmp = a*data.x[i] + b
      y.append(tmp)
  MSE = mse(data.y, y)
  return y
```
Plot a(slope) vs cost


Gradient descent is a supervised ML tecnique.

If there isn't a linear pattern, you can use tramsformation methods to find a pettern (log(x), rootX, squared x). Linear models assume that there isn't correlation between error terms. 

**Issues with Linear Regression:** 
    1. More features are participating, leads to more coefficients.
    2. Values of coefficinets are large.
    3. Overfitting, performing well on train but not on test dataset.

Regularization comes to help.
***Ridge regularization***, sum a penalty of parameter wich is square of all coeficients plus mean of squared error. We obtain a linear regression cost function. Nullifiedcoefficients still participate. Create a difficulty in interpretation.

#**Decision Tree**

Objective of desicion tree is to have pure nodes. am ideal pure node hace  100% of one class and 0% of other classes.

 The basic idea behind choosing the best split in the data is resultant nodes should be as homogeneous as possible.

We can split and split and so on, into multiple desicion.

**Common Terminology:**

    1. Root node: Representsthe entire population of data.
    2. Splitting: Process to divide a node into 2 or more sub-nodes.
    3. Decision node: The inicial node.
    4. Leaf/Terminal node: The final node, Don't split further.
    5. Branch: Sub-tree.
    6. Parent and child node: Higher node is the parent and subnodes are children.
    7. Depth of tree: The length of the longest path for the root node.


**Best split point in Desicion Trees**

1. Decision tree splits the nodes on all available variables.
2. Selects the split which results in most homogeneous sub-nodes.

    1. **Gini impurity:** 1-Gini: If you pick to points from a popular random, they must be from the same class. Lower the gini impurity, higher the homogenety of nodes. Works only with categorical targets.

              gini = (p1**2+p2**2+p3**2+...)
    
    2. **Chi Squared:** Statistical significance of differences between child nodes and their parent node. Higher chi-squared value, more will be the purity of the nodes after split. works only with categorical values. Can perfomr more than two splits.  

              chi-squared = (Actual- Expected)**2/ Expected frequencies
    
    3. **Information Gain:** 1 - entropy: If entroy is zero, represents pure node. High information gain means higher the homogeneity of nodes after the split.

              Entropy = -p1*log2p1-p2*log2p2-p3*log2p3-...pn*log2pn  

    4. **Reduction in Variance:** Uses standard formula of variance. If variance zero, pure node. Used when target is ***continuous***. Split with lower variance is selected.

              Variance = sum[(x-mu)**2]/n
              X is the sample
              mu is mean
              n is number of samples

3. Optimizing performance of Decision Tree: Higher values controls overfitting. Too high value can lead to underfitting.
      
      1. Set minimum samples for a node split.
      2. Set minumum samples for a terminal node.
      3. Set maximum depth of tree.
      4. set maximum terminal nodes.



What is the maximum number of terminal nodes in a decision tree if our training dataset has N samples? N