<a href="https://colab.research.google.com/github/AlejandroPinto5/ML-notes-course/blob/main/AnalyticsVidhya1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**MACHINELEARNING BASICS**

Some models you will learn in this course notes:

    1. KNN
    2. Linear Regression
    3. Logistic Regression
    4. Decision Tree

We use some data to build a machine learning model, where the model is basically a function that tries to learn the relationship between dependent variable and independent variable.

# **Data Structures**

In [117]:
# Height in cm
Ramesh = 150
Suresh = 145
Sudesh = 165

In [118]:
# Weight in kg
Ramesh_weight = 56
Suresh_weight = 60
Sudesh_weight = 65

In [119]:
# Age in Years
Ramesh_age = 23
Suresh_age = 46
Sudesh_age = 58
# A lot of variables. Very tedious

In [120]:
import numpy as np
A = np.array([[0.1, 0.2], [0.03, 0.44], [0.25, 0.16]])

# **LIST [ ]**

In [121]:
# List 
names = ["Ramesh", "Suresh", "Sudesh"]
height = [150, 145, 165]
weight = [56, 60, 65]
age = [23, 45, 58]

In [122]:
# Example
list1 = [2, 3, 4, 5, 6] # Lists remebmer the order
list2 = ["Python", "is", "Awesome"] # Single data type
list3 = [1, "Python", 2, "is", 3, "Awesome"]# Mixed data type

In [123]:
# Extract an element
list3[1]

'Python'

In [124]:
# Extract a sequence of elements
list3[1:4]

['Python', 2, 'is']

In [125]:
# Adding a single element
list3.append(4)
list3

[1, 'Python', 2, 'is', 3, 'Awesome', 4]

In [126]:
# Adding a multiple elements
list3.extend([5,6])
list3

[1, 'Python', 2, 'is', 3, 'Awesome', 4, 5, 6]

In [127]:
#  Adding list into another list
list3.append([7,8])
list3

[1, 'Python', 2, 'is', 3, 'Awesome', 4, 5, 6, [7, 8]]

In [128]:
# Delete element by value
list3.remove(2)
list3

[1, 'Python', 'is', 3, 'Awesome', 4, 5, 6, [7, 8]]

In [129]:
# Delete element by index
del list3[5]
list3

[1, 'Python', 'is', 3, 'Awesome', 5, 6, [7, 8]]

In [130]:
# Negative index
list1[-2]

5

In [131]:
# Doble colon -- initial:final:step
list3[1:4:2]

['Python', 3]

In [132]:
# Check if particular element is in the list
90 in list3

False

In [133]:
# Check if particular element isn't in the list
[1,2] not in list3

True

In [134]:
# Iterate the list
for element in list3:
  print(element)

1
Python
is
3
Awesome
5
6
[7, 8]

In [135]:
# Lenght of the list
len(list3)

8

In [136]:
# Sorting list only for one type of data
sorted(list2)

['Awesome', 'Python', 'is']

In [137]:
# Access a particular element into another element
list3[7][1]

8

In [138]:
test = ["This" , "is", "1", "list"]
test[1]

'is'

In [139]:
my_list = [["A", "B"], ["X", "A"], ["B", "A"], ["A", "X"]]
my_list[2][1]

'A'

*Challenge*

In [140]:
students_mark = [["Name",["A", "B", "C", "D", "E"]],
                 ["Ankit",[41, 34, 45, 55, 63]],
                 ["Aravind",[42, 23, 34, 44, 53]],
                 ["lakshay",[32, 23, 13, 54, 67]],
                 ["Gyan",[23, 82, 23, 63, 34]],
                 ["Pranav",[21, 23, 25, 56, 56]]
                 ]
students_mark

[['Name', ['A', 'B', 'C', 'D', 'E']],
 ['Ankit', [41, 34, 45, 55, 63]],
 ['Aravind', [42, 23, 34, 44, 53]],
 ['lakshay', [32, 23, 13, 54, 67]],
 ['Gyan', [23, 82, 23, 63, 34]],
 ['Pranav', [21, 23, 25, 56, 56]]]

In [141]:
students_mark[0]

['Name', ['A', 'B', 'C', 'D', 'E']]

In [142]:
students_mark[3][1]

[32, 23, 13, 54, 67]

In [143]:
students_mark[5][1][3]

56

In [144]:
# Select the name of the student and mark the subject B without the title

for students in students_mark[1:]:
  name = students[0]
  mark_in_B = students[1][1]
  print(name, mark_in_B)

Ankit 34
Aravind 23
lakshay 23
Gyan 82
Pranav 23

In [145]:
# Create other list with names and mark subject B
student_mark_B = []

for students in students_mark[1:]:
  name = students[0]
  mark_in_B = students[1][1]
  student_mark_B.append([mark_in_B,name])

student_mark_B

[[34, 'Ankit'], [23, 'Aravind'], [23, 'lakshay'], [82, 'Gyan'], [23, 'Pranav']]

In [146]:
sorted(student_mark_B)

[[23, 'Aravind'], [23, 'Pranav'], [23, 'lakshay'], [34, 'Ankit'], [82, 'Gyan']]

In [147]:
sorted(student_mark_B, reverse=True)

[[82, 'Gyan'], [34, 'Ankit'], [23, 'lakshay'], [23, 'Pranav'], [23, 'Aravind']]

# **TUPLE ( )**

In [148]:
my_tuple1 = (1, 2, 3, "Hello") # Also ordered elements
my_tuple = ("A", "B", "C","D", "D", "E", 1, "D")
my_tuple #Immutable data structure

('A', 'B', 'C', 'D', 'D', 'E', 1, 'D')

In [149]:
my_tuple[2]

'C'

In [150]:
# Find out the index of element
my_tuple.index("E")

5

In [151]:
# Count how many elements there are
my_tuple.count("D")

3

In [152]:
# Show elements in the list
for element in my_tuple:
  print(element)

A
B
C
D
D
E
1
D

In [153]:
#Show first three elements
my_tuple[:3]

('A', 'B', 'C')

In [154]:
# Combine slides with '.index' or '.count'
my_tuple[2:5].count("D")

2

In [155]:
# We can NOT use edit/update or delete elements from the tuples

In [156]:
my_tuple2 = ("A", "B", "C", "D", "E", "E", 1, "D")
my_tuple2.index("E")

4

In [157]:
my_tuple3 = ("A", "B", "B", "C", "B", "D")
my_tuple3[2:5].count("B")

2

In [158]:
my_tuple4 = ((1, 2, 3, 1),
             (1, 1, 1, 2),
             (2, 1, 2, 1),
             (1, 2, 1, 1))
my_tuple4[1][1:3]

(1, 1)

# **SETS { }**

In [159]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [160]:
list_of_sports = ["Soccer", "Tennis", "Cricket", "Soccer", "Golf"]

# unordered collection of elements
set_of_sports = {"Soccer", "Tennis", "Cricket", "Golf"} # not necessarly repeat an element
my_set = {"A", "B", "C", "D", 1, "E", 2, 4,4}
my_set # The order doesn't matter and there aren't duplicate elements. Autoatically removed

{1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [161]:
# Convert from list to set
my_list = ["A", "B", 1, 2, "B", "A"]
from_list_to_set = set(my_list)
print(
    my_list,
from_list_to_set)

['A', 'B', 1, 2, 'B', 'A'] {1, 2, 'A', 'B'}

In [162]:
# Convert from tuple to set
my_tuple = ("A", "B", 1, 2, "B", "A")
from_tuple_to_set = set(my_tuple)
print(
my_tuple,
from_tuple_to_set)

('A', 'B', 1, 2, 'B', 'A') {1, 2, 'A', 'B'}

In [163]:
# We can add elements
my_set.add(0)
my_set

{0, 1, 2, 4, 'A', 'B', 'C', 'D', 'E'}

In [164]:
# Discard/Remove
my_set.discard("A")
my_set

{0, 1, 2, 4, 'B', 'C', 'D', 'E'}

In [165]:
my_set.remove(2)
my_set

{0, 1, 4, 'B', 'C', 'D', 'E'}

In [166]:
# With sets, you can play with the theory operations (intersection, union...)
print(my_set,from_list_to_set)

{'E', 1, 0, 4, 'C', 'D', 'B'} {1, 2, 'A', 'B'}

In [167]:
# Difference of two sets
print(
my_set.difference(from_list_to_set),
from_list_to_set.difference(my_set))

# If you want to save the result, just use difference.update

{'E', 0, 4, 'C', 'D'} {2, 'A'}

In [168]:
# Intersection of two sets
print(
    my_set.intersection(from_list_to_set),
    from_list_to_set.intersection(my_set)
)

# If you want to save the results, use intersection_update

{1, 'B'} {1, 'B'}

In [169]:
sample_set1 = {"A", "B", "C", "D", "E", "F"}
sample_set2 = {"A", "D", "E"}
sample_set3 = {"S", "T", "U"}
sample_set1, sample_set2

({'A', 'B', 'C', 'D', 'E', 'F'}, {'A', 'D', 'E'})

In [170]:
# Check if two sets are disjoint
print(
    sample_set1.isdisjoint(sample_set2),
    sample_set2.isdisjoint(sample_set1)
)

False False

In [171]:
# Check if one is a subset/superset of another
print(
    sample_set2.issubset(sample_set1),
    sample_set1.issubset(sample_set2))
print(
    sample_set1.issuperset(sample_set2),
    sample_set2.issuperset(sample_set1)
)

True False
True False

In [172]:
# Unions of two sets
sample_set1.union(sample_set3)
# Doesn't save the result

{'A', 'B', 'C', 'D', 'E', 'F', 'S', 'T', 'U'}

In [173]:
# Update sets
sample_set3.update({"C", "D", "S", "Z"})
sample_set3

{'C', 'D', 'S', 'T', 'U', 'Z'}

In [174]:
# Show the elements of the set
for element in sample_set1:
  print(element)

E
C
D
A
B
F

In [175]:
# Define 3 random sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {1, 4, 3}
set1.isdisjoint(set2)

False

In [176]:
set3 = {1, 2, 3, 4, 5, 6}
set4 = {1, 4, 7}
set3.issuperset(set4)

False

In [177]:
dat = ((1, 2, 3, 4, 5),
        (2, 1, 1, 3, 1),
        (1, 2, 2, 1, 1),
        (1, 1, 2, 3, 1))
set(dat[0]).intersection(set(dat[2]))

{1, 2}

# **Dictionary**

In [178]:
employee_info = {
    "names": ["Ramesh", "Suresh", "Sudesh"],
    "height": [150, 145, 165],
    "weight": [56, 60, 65],
    "age": [23, 45, 58]
}
employee_info

{'names': ['Ramesh', 'Suresh', 'Sudesh'],
 'height': [150, 145, 165],
 'weight': [56, 60, 65],
 'age': [23, 45, 58]}

In [179]:
# Key: Value. The value can be number, list...
dict1 = {"Ramesh": 150,"Suresh": 146, "Sudesh": 160}
dict1

{'Ramesh': 150, 'Suresh': 146, 'Sudesh': 160}

In [180]:
# Acces the dictionary
dict1["Suresh"]

146

In [181]:
# Adding elements
dict1["Neeraj"]=176
dict1

{'Ramesh': 150, 'Suresh': 146, 'Sudesh': 160, 'Neeraj': 176}

In [182]:
# If you eant to add multiple elements, you can use 'update'
dict1.update({"Sunil": 150, "Disha": 155})
dict1

{'Ramesh': 150,
 'Suresh': 146,
 'Sudesh': 160,
 'Neeraj': 176,
 'Sunil': 150,
 'Disha': 155}

In [183]:
# Delet a single element
del dict1["Ramesh"]
dict1

{'Suresh': 146, 'Sudesh': 160, 'Neeraj': 176, 'Sunil': 150, 'Disha': 155}

In [184]:
my_dictionary = {
    "name"      : "Alejandro",
    "age"       :  24,
    "roll_on"   : "QRQ878",
    "percentage":  85,
    "attendance":  3.67,
    "city"      : "Bucaramanga",
    "country"   : "Colombia"
    }

my_dictionary

{'name': 'Alejandro',
 'age': 24,
 'roll_on': 'QRQ878',
 'percentage': 85,
 'attendance': 3.67,
 'city': 'Bucaramanga',
 'country': 'Colombia'}

In [185]:
# We can't use the index 'my_dictionary[3]'
my_dictionary["name"]

'Alejandro'

In [186]:
# You can know what is the keys and the values
print(
    my_dictionary.keys(),
    my_dictionary.values()
)

dict_keys(['name', 'age', 'roll_on', 'percentage', 'attendance', 'city', 'country']) dict_values(['Alejandro', 24, 'QRQ878', 85, 3.67, 'Bucaramanga', 'Colombia'])

In [187]:
my_dictionary.items()

dict_items([('name', 'Alejandro'), ('age', 24), ('roll_on', 'QRQ878'), ('percentage', 85), ('attendance', 3.67), ('city', 'Bucaramanga'), ('country', 'Colombia')])

In [188]:
#Add and Update
my_dictionary["new_key"] = "new_value"
my_dictionary.update({"pincode": 2150744, "last_name": "Pinto"})
my_dictionary

{'name': 'Alejandro',
 'age': 24,
 'roll_on': 'QRQ878',
 'percentage': 85,
 'attendance': 3.67,
 'city': 'Bucaramanga',
 'country': 'Colombia',
 'new_key': 'new_value',
 'pincode': 2150744,
 'last_name': 'Pinto'}

In [189]:
# Override the value if you add the same key. the keys are inmutable

In [190]:
# Show the elements of a dictionary
for key, value in my_dictionary.items():
  print(key,value)

sorted(my_dictionary.items())

name Alejandro
age 24
roll_on QRQ878
percentage 85
attendance 3.67
city Bucaramanga
country Colombia
new_key new_value
pincode 2150744
last_name Pinto

[('age', 24),
 ('attendance', 3.67),
 ('city', 'Bucaramanga'),
 ('country', 'Colombia'),
 ('last_name', 'Pinto'),
 ('name', 'Alejandro'),
 ('new_key', 'new_value'),
 ('percentage', 85),
 ('pincode', 2150744),
 ('roll_on', 'QRQ878')]

#**String Manipulation**

In [191]:
myString = "Analytics Vidhya creating next generation data sicence eco-system"

In [192]:
len(myString)

65

In [193]:
myString[0]

'A'

In [194]:
myString[-1]

'm'

In [195]:
myString[::-1]

'metsys-oce ecnecis atad noitareneg txen gnitaerc ayhdiV scitylanA'

In [196]:
myString.count('c')

5

In [197]:
myString[10:-10]

'Vidhya creating next generation data sicence '

In [198]:
myString.find('next')

26

In [199]:
myString.endswith('system')

True

In [200]:
myString.startswith('analytics')

False

In [201]:
myString.startswith('Analytics')

True

In [202]:
myString.upper()

'ANALYTICS VIDHYA CREATING NEXT GENERATION DATA SICENCE ECO-SYSTEM'

In [203]:
'1'.isnumeric()

True

In [204]:
'w'.isalpha()

True

In [205]:
'1w'.isalnum()

True

In [206]:
myString.isalpha() # don't recognize spaces

False

In [207]:
'java is easy to learn'.replace('java', 'python')

'python is easy to learn'

In [208]:
'python is easy to learn'.split(' ')

['python', 'is', 'easy', 'to', 'learn']

In [209]:
'python is easy to learn'.split('easy')

['python is ', ' to learn']

In [210]:
len('python is easy to learn'.split(' '))

5

Quiz

In [211]:
my_string = 'ANALYTICS VIDHYA'
my_string[::-1]

'AYHDIV SCITYLANA'

In [212]:
#Statment A
'analytics'.isalpha()

True

In [213]:
#Statment B
'analytics01'.isalnum()

True

In [214]:
#Statment C
'analytics01'.islower()

True

In [215]:
my_list = ['lakshay', 'sanad', 'aravind', 'aishwarya', 'prateek']
find_a = []

for  name in my_list:
  x = name.find('a')
  find_a.append(x)

find_a

[1, 1, 0, 0, 2]

In [216]:
state = ['haryana', 'punjab', 'rajasthan', 'karnataka', 'goa']
output = []
output_state = []

for s in state:
  split_with_a = s.split('a')
  output.append(len(split_with_a))
  output_state.append(split_with_a)

output
#output_state

[4, 2, 4, 5, 2]

#**Functions**

In [217]:
def area(r):
  area = 3.14*r*r
  return area

area(5) #Calling a function

78.5

In [218]:
def welcome():
  print("Welcome to the python course!!")

welcome()

Welcome to the python course!!

In [219]:
def add_2_number():
  total = 3 + 4
  print("Sum of 3 and 4 is: ", total)

In [220]:
def   add_2_numbers_return():
  total = 3 + 4
  print("Sum of 3 and 4 is: ", total)
  return total

In [221]:
add_2_number()

Sum of 3 and 4 is:  7

In [222]:
add_2_numbers_return()

Sum of 3 and 4 is:  7

7

In [223]:
output1 = add_2_number()
output1 #Don't save 'cause dones't have a return

Sum of 3 and 4 is:  7

In [224]:
output2 = add_2_numbers_return()
output2

Sum of 3 and 4 is:  7

7

In [225]:
def welcome(name): #If we put 'name = "Alejo"', you can call the function 'welcome()' without errors
  return "Welcome " + name

In [226]:
welcome("Alejo")

'Welcome Alejo'

In [227]:
def differ(largeNumber, smallNumber):
  difference = largeNumber - smallNumber
  return difference

differ(largeNumber= 16, smallNumber =  4) # Necessary to not confuse the numbers

12

In [228]:
differ(smallNumber = 4, largeNumber = 16)

12

In [229]:
def function(*args): # '*' indicates multiple values -- unknow int or string, you can use '**'
  for i in args:
    print(i)

function(1,2,3,4)

1
2
3
4

QUIZ

In [230]:
def min(a, b):
  if a > b:
    return b
  elif a == b:
    return "Equal numbers"
  else:
    return a

min(200,400)

200

In [231]:
def odd(a):
  if a%2 == 0:
    print("not odd")
  else:
    print("odd")

odd(9)

odd

**Lambda functions**

In [232]:
def add20(a):
  return a+20

add20(5)

25

In [233]:
var = lambda a: a + 20

print("With argument value 5: ", var(5))
print("With argument value 10: ", var(10))

With argument value 5:  25
With argument value 10:  30

In [234]:
# Filter function
def normalEven(x):
  if x%2 !=0:
    return True
  else:
    return False

In [235]:
originalList = [5,17, 32, 43, 12, 62, 237, 133, 78, 21]

filteredList = list(filter(normalEven, originalList))
print('The odd numbers are: ', filteredList)

The odd numbers are:  [5, 17, 43, 237, 133, 21]

In [236]:
originalList = [5, 11, 15, 43, 20, 65, 235, 133, 75, 21]
filteredList = list(filter(lambda x: x%5 == 0, originalList))

print('The multiple of 5 are: ', filteredList)

The multiple of 5 are:  [5, 15, 20, 65, 235, 75]

In [237]:
# 'map' is the same in 'filter'
originalList = ['analytics', 'vidhya', 'king', 'south', 'east']
mappedList = list(map(lambda x: x[0].upper()+x[1:], originalList))

print('New List: ', mappedList)

New List:  ['Analytics', 'Vidhya', 'King', 'South', 'East']

In [238]:
# Reduce Function
from functools import reduce
originalList =  [1,2, 3, 4, 5, 6, 7, 8, 9]
sumList = reduce(lambda x, y: x+y, originalList)

print('Sum of numbers in the original list is: ', sumList)

Sum of numbers in the original list is:  45

In [239]:
originalList = [110, 53, 3, 424, 255, 16, 42, 256]
largestNumber = reduce(lambda x, y: x if x > y else y, originalList)

print('Largest number in the original list is: ', largestNumber)

Largest number in the original list is:  424

QUIZ

In [240]:
originalList = [5, 17, 62, 43, 12, 62, 27, 63, 68, 21]
filteredList = list(filter(lambda x: x // 10 == 6, originalList))

print(filteredList)

[62, 62, 63, 68]

In [241]:
from functools import reduce

originalList = [110, 53, 3, 424, 255, 16, 42, 256]
number = reduce(lambda x, y: x if x < y else y, originalList)

print(number)

3

**Recursion function**

In [242]:
# Probability and statistics
def HowManyHandshakes(TotalPersons):
  if TotalPersons == 2:
    return 1
  elif TotalPersons == 1:
    return "Doesn't make any sense"
  else:
    return HowManyHandshakes(TotalPersons - 1) + (TotalPersons - 1) #F(N) = F(N-1)+(N-1)

HowManyHandshakes(6)

15

QUIZ

In [243]:
def function(number):
  if number == 1:
    return 0 
  elif number == 2:
    return 1
  else:
    return function(number - 1) + function(number - 2) #F(n)=F(n-1)+F(n-2)

function(5)

3

In [244]:
def function(number):
  if number == 2:
    return 1
  else:
    return function(number - 1)+ (number + 1)

function(5)

16

#**Modules, Packages and Standar libraries**

In [245]:
#Function
def area_circle(r):
  area = 3.1416*r*r
  return area

area_circle(2)

12.5664

In [246]:
# Module: Several funcions in one file.py that you can call in other file.py. 
# You call the module as: import --module--

In [247]:
# packages: several modules in one, a collection of modules
# important packages:
#                     math
#                     random
#                     datetime
#                     os

In [248]:
# Call or import functions:
#                           from --package.module-- import --function--
#                           from --package-- import --module--
#                           import --module--
# How create your own package:
                            # You put all modules in one carpet, then you cam call as: import --name_of_carpet--
# important libraries for data science:
#                     numpy
#                     scipy
#                     pandas
#                     matplotlib
                      # seaborn
                      # scikit learn
                      # statsmodel

In [249]:
# numpy and scipy

import numpy as np

x = np.array([[1,2,3],
              [2,1,1],
              [4,2,3]])

y = np.array([[1,2],
              [1,1],
              [1,1]])

np.concatenate([x,y],axis=1)

array([[1, 2, 3, 1, 2],
       [2, 1, 1, 1, 1],
       [4, 2, 3, 1, 1]])

In [250]:
np.zeros((2,3), dtype=int)

array([[0, 0, 0],
       [0, 0, 0]])

In [251]:
from scipy.misc import derivative

def my_function(x):
  dev=x**2 + 5
  return dev

derivative(func = my_function, x0=2)

<ipython-input-251-fe9247092b62>:7: DeprecationWarning: scipy.misc.derivative is deprecated in SciPy v1.10.0; and will be completely removed in SciPy v1.12.0. You may consider using findiff: https://github.com/maroba/findiff or numdifftools: https://github.com/pbrod/numdifftools
  derivative(func = my_function, x0=2)

4.0

#**Reading data in python**

In [252]:
# pd.read_{file(csv, excel,json)}=('')
# to csv file you need:
#                       skirows=
#                       glob to multidirectory
#                       uecols=[]
#                       data.shape()

# to excel file you need:
#                         sheet_name=

# to json file you need:
#                         lines=boolean
                          # json
                          # pprint

#**Preprocessing, subsetting and modifying pandas dataframes**

In [253]:
# subsetting:
#             drop
            # inplace
            # data.set_index['label']
#             data.index
#             data.loc[]
#     Sunset a data sabed on other:
#                                 data[data['']==''] acts like filter
      # subet based on position (rows):
      #                         data[n:n:i] like data.head() or data.tail()
      #                         data.iloc[[rows],[columns]] like specific row

      # subsetting based on label (columns):
      #                           data.loc[] labels on index

      # subsetting based on value (value):
      # q                         you can chose a value into the table to act like a filter (&-and |-or !-not)
                                  # data[data.column([value])]
                                # data.select_dtypes(object, float64 or integer)

# check null calues with data.isna().sum()
# convertcategorical variables into numerical variables with data = pd.get_dummies(data)

In [254]:
import pandas as pd
sample_df = [['id','grade','marks'],
             ['a101','m','a',22],
             ['a102','f','a',21],
             ['a103','m','b',12],
             ['a104','m','b',14],
             ['a105','f','a',20],
              ]
sample_df =pd.DataFrame(sample_df)
sample_df

      0      1      2     3
0    id  grade  marks   NaN
1  a101      m      a  22.0
2  a102      f      a  21.0
3  a103      m      b  12.0
4  a104      m      b  14.0
5  a105      f      a  20.0

In [255]:
sample_df.loc['a101':'a104']

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [256]:
data = pd.DataFrame({'gender':['M','F','f','F','M'],
                     'age':[10,12,12,12,11]})
data

  gender  age
0      M   10
1      F   12
2      f   12
3      F   12
4      M   11

In [257]:
pd.get_dummies(data)

   age  gender_F  gender_M  gender_f
0   10         0         1         0
1   12         1         0         0
2   12         0         0         1
3   12         1         0         0
4   11         0         1         0

In [258]:
import numpy as np 
sample_df = pd.DataFrame({'gender' : ['M','F','M','M','F'],
                          'grade' : ['A','A','B','B','A'],
                          'marks' : [22,np.nan,12,np.nan,np.nan],
                          'id' : ['a101','a102','a103','a104','a105']})
sample_df

  gender grade  marks    id
0      M     A   22.0  a101
1      F     A    NaN  a102
2      M     B   12.0  a103
3      M     B    NaN  a104
4      F     A    NaN  a105

In [259]:
sample_df.marks.fillna(sample_df.marks.mean(),inplace=True)
sample_df

  gender grade  marks    id
0      M     A   22.0  a101
1      F     A   17.0  a102
2      M     B   12.0  a103
3      M     B   17.0  a104
4      F     A   17.0  a105

#**Preprocessing, sorting and agregating data**

In [260]:
# sort by id, student ...
# data_frame.sort_value(by=['column']) or # data_frame.sort_value(by=['column',''column], ascending =[True,False])
# important inplace = True
# if you do not have inplace, use data_frame.reset_index()


# Concatenate multiple dataframes
          #  pd.concat(dataframes, axis=0) 0 is rows and 1 is columns

# SQL-like joints
        # main_df.merge(mapping_df, how= 'left', on = 'label') also left, right, inner or outer

In [261]:
import pandas as pd

sample_df1 = pd.DataFrame({'gender': ['m','f','m','m','f'],
                           'id': ['a101','a104','a106', 'a110', 'a105']})


sample_df2 = pd.DataFrame({'grade':['a','a','b','b','a'],
                           'id': ['a101','a102','a103','a104','a105']})

# sample_df1.merge(sample_df2, how='outer', on ='id')
sample_df1.merge(sample_df2, how='right', on ='id')

  gender    id grade
0      m  a101     a
1    NaN  a102     a
2    NaN  a103     b
3      f  a104     b
4      f  a105     a

In [262]:
student_id = pd.DataFrame({'college':['zu university','zu university','zu university','zu university','zu university',],
                           'roll_no': [102,101,104,103,105],
                           'name': ['Aravind','Rahul','Prateek','Piyuesh', 'Kartik'],
                           'grade':['b','b','a','c','a'],
                           'mark':[15,15,20,4,22],
                           'city': ['Gurugram','Delhi','Delhi', 'Gurugram','hyderabad']})
pool = pd.DataFrame({'college':['zu university','zu university','ab university','zu university','ab university',],
                     'name':['Aravind','Rahul','Rahul','Prateek','Harsh'],
                     'company':['abc','xyz','abc','aep','abc'],
                     'package':[8,14.5,11,6,6]})


student_id.merge(pool, how = 'inner', on = ['college','name'])
# student_id.merge(pool, how = 'left', on = ['college','name'])
# student_id.merge(pool, how = 'right', on = ['college','name'])

         college  roll_no     name grade  mark      city company  package
0  zu university      102  Aravind     b    15  Gurugram     abc      8.0
1  zu university      101    Rahul     b    15     Delhi     xyz     14.5
2  zu university      104  Prateek     a    20     Delhi     aep      6.0

In [263]:
# Aggregation ans Summarization
# data.label.sum() or sum or mean or mode or median
# data.groupby([label])
# data.first()
# d.max()
# data.groupby([label,label]).mean()

# You can do a lot of pivot table with:
#                           pd.pivot_table(data, index='',values='')...
# pd,crosstab(data[''], data[''])

# The aggregation is more complex than I thought, functions, large codes ...We can do with more time
# Use librairy datetime to convert datetime to type timedelta64[ns]
# Create cloumn of month or day of year is data.datatime.dt.day_name or month_day...
# Localize timezone with data.datemtime.dt.tz_localize('Continent/Country')
# Convert timezone with data.Column_tz.dt.tz_convert('Continent/Country')

In [264]:
import pandas as pd
import datetime as dt

data = pd.DataFrame({'id': [0,1,2,3,4],
                     'Datetime': ['25 Aug 2012','25 Aug 2012','25 Aug 2012','25 Aug 2012','25 Aug 2012'],
                     'Count': [8,2,6,2,2]})
pd.to_datetime(data.Datetime, format ='%d %b %Y')

0   2012-08-25
1   2012-08-25
2   2012-08-25
3   2012-08-25
4   2012-08-25
Name: Datetime, dtype: datetime64[ns]